<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button title=""></ion-back-button>
    </ion-buttons>
    <ion-title>My pickup calls</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-pickup-call-card status="hold" createdAt="11/06/21" notes="We have two bags that are full, one with plastic and other with glass" updatedAt="13/06/21"></app-pickup-call-card>

  <app-pickup-call-card status="processing" createdAt="13/06/21" notes="We have two bags that are full" updatedAt="14/06/21"></app-pickup-call-card>

  <app-pickup-call-card status="finished" createdAt="11/06/21" updatedAt="14/06/21" value="$10,00"></app-pickup-call-card>

</ion-content>
